<ion-header [translucent]="true">
    <ion-toolbar color="primary">
    <ion-title>Pokémon cards</ion-title>
    </ion-toolbar>
</ion-header>


 <ion-content [fullscreen]="true">

  <div class="boxImageAbertura">
    <img src="/assets/image/pokemon.jpg"/>
  </div>
  
  <!-- <div class="boxImageBackground"></div> -->

  <div class="BoxImagePokemon">
    <img src="/assets/image/tress.png"/>
  </div>

  <div class="btns">
    <ion-button class="btn" expand="full" (click)="redirectToLogin()">Vamos agora Pokémons</ion-button> 
    <ion-button class="btn" color="medium" expand="full" (click)="redirectToCadastro()"> não tenho cadastro</ion-button>
  </div>
  
  
</ion-content>
